{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
