.cardWrapper {
  display: flex;
  padding: var(--spacing-3);
  flex-direction: column;
  border: 2px solid var(--font-color);
  border-radius: var(--border-radius-sm);
  max-width: 512px;
}

.card {
  display: flex;
  flex-direction: column;
}


.imageWrapper {
  overflow: hidden;
  /*TODO: fix images to avoid adding a min-height */
  min-height: 277px;
  border-radius: var(--card-border-radius);
}

.imageWrapper img {
  width: 100%;
  height: auto;
  box-shadow: 0px 4px 4px hsl(0 0 0 / 20);
  transition: transform 300ms ease;
}


/* TODO: add a cool hover effect on hover image */
.imageWrapper:hover img {
  object-fit: cover;
  object-position: left top;
  transform: scale(1.1);
}





.content {
  display: flex;
  gap: var(--spacing-4);
}

.icons {
  flex-shrink: 0;
  margin-left: auto;
}

.icons a,
.icons button {
  cursor: pointer;
  padding: 10px;
  border-radius: 100%;
  display: block;
  background-color: white;
  background-image: none;
  border: none;
}

.icons path {
  stroke: black;
}
