.wrapper {
  isolation: isolate;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
}


.backdrop {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background: transparent;
  mask: linear-gradient(to bottom, black 50%, transparent 50% 100%);
}

.backdrop.scrolled {

  backdrop-filter: blur(11px) saturate(150%);
  background: linear-gradient(to bottom,
      var(--color-bg),
      transparent 60%);
}

.navbar-wrapper {
  padding: var(--content-padding);
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}

.navbar {
  position: relative;
  --link-gap: var(--spacing-8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200%;
}

.nav {
  display: flex;
  gap: var(--link-gap);
}

.nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.mobileMenu {
  display: block;
}

.desktopMenu {
  display: none;
}

@media screen and (min-width: 650px) {
  .mobileMenu {
    display: none;
  }

  .desktopMenu {
    display: block;
  }

}
