.sectionHeading {
  margin-bottom: var(--spacing-10);
}

.grid {
  --horizontal-gap: var(--spacing-5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-10) var(--horizontal-gap);
}

.grid>* {
  /* desired for 3 cols */
  --desired-width: 1240px;
  --box-width: calc(var(--desired-width) - (var(--horizontal-gap) * 2));
  flex: 1 1 calc(var(--box-width) / 3);
}
