html {
  scroll-behavior: smooth;
  background-color: var(--color-bg);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
}

body * {
  scroll-margin-top: var(--nav-height);
}

:where(.page-wrapper > .content) {
  padding: var(--content-padding);
}

:where(.page-wrapper>.content>*),
:where(.max-content) {
  width: min(100%, var(--max-width));
  margin-inline: auto;
}

main {
  margin-top: var(--layout-spacing);
}

:where(section.spaced) {
  margin-block: 162px;
}

footer {
  margin-top: auto;
  padding-top: var(--layout-spacing);
}

footer p {
  border-top: 1px solid #ccc;
  padding-top: 0.25em;
  font-size: 0.9rem;
  color: #767676;
}


article *+* {
  margin-top: 1em;
}

a {
  text-underline-offset: 0.15em;
}
