:root {

  --color-red: #FF39A9;
  --color-purple: hsl(267 80 75);
  --color-yellow: hsl(50 100 50 / 81);
  /* raw colors */
  --color-bg: hsl(247 27 8);
  --color-primary: #80CBC4;
  --color-surface: #161927;
  --color-surface-2: #222531;
  --color-accent: var(--color-purple);
  --color-accent-2: var(--color-yellow);
  --color-accent-3: var(--color-red);

  --font-color: #F9FAFF;
  --button-text-color: #0C0C0C;

  /* Font size scale */
  --font-size--2: 0.75rem;
  /* 12px / 16 */
  --font-size--1: 0.875rem;
  /* 14px / 16 */
  --font-size-0: 1rem;
  /* 16px / 16 */
  --font-size-1: 1.25rem;
  /* 20px / 16 */
  --font-size-2: 1.5rem;
  /* 24px / 16 */
  --font-size-3: 2rem;
  /* 32px / 16 */
  --font-size-4: 2.5rem;
  /* 40px / 16 */
  --font-size-5: 3rem;
  /* 48px / 16 */
  --font-size-6: 3.5rem;
  /* 56px / 16 */
  --font-line-1: 1.2;
  --font-line-2: 1.5;

  /* Layout */
  --layout-spacing: max(8vh, 3rem);
  --max-width: 1440px;
  --content-padding: 0 clamp(1rem, 5vw, 3rem) 1rem;

  /* spacing */
  --spacing-1: 0.25rem;
  /* 4px */
  --spacing-2: 0.5rem;
  /* 8px */
  --spacing-3: 0.75rem;
  /* 12px */
  --spacing-4: 1rem;
  /* 16px */
  --spacing-5: 1.25rem;
  /* 20px */
  --spacing-6: 1.5rem;
  /* 24px */
  --spacing-7: 1.75rem;
  /* 28px */
  --spacing-8: 2rem;
  /* 32px */
  --spacing-9: 2.25rem;
  /* 36px */
  --spacing-10: 2.5rem;
  /* 40px */
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;


  --border-radius-xs: 8px;
  --border-radius-sm: 12px;

  --card-border-radius: var(--border-radius-xs);

  /* navbar height */
  --nav-height: 150px;

  /* form */
  --form-bg-color: var(--color-surface-2);
}
