h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--font-outfit);
  line-height: var(--font-line-1);
}

html,
body {
  font-family: var(--font-roboto-flex);
  color: var(--font-color);
  line-height: var(--font-line-2);
}

body {
  font-size: var(--font-size-1);
}

.hero-title {
  font-size: var(--font-size-6);
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-4);
  color: var(--color-accent);
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}

section>h2 {
  margin-bottom: var(--spacing-10);
}

h3 {
  font-size: var(--font-size-3);
}

p,
.body-text {
  font-size: var(--font-size-1);
  font-weight: 400;
}

.body-small {
  font-size: var(--font-size-0);
}

.body-tiny {
  font-size: var(--font-size--2);
}

.button {
  font-size: var(--font-size-1);
  line-height: var(--font-line-3);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}


a {
  color: var(--font-color);
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(var(--color-accent-3), var(--color-accent-3));
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 5px;
  transition: background 300ms ease-in-out;
}

nav a:hover {
  background-size: 100% 2px;
}

::selection {
  background: hsl(267 80 75 / 40%);
}

@media screen and (max-width: 450px) {

  h1 {
    font-size: var(--font-size-3);

  }

  body {
    font-size: var(--font-size-0);
  }
}


:is(h1, h2, h3, h4, h5, h6, p, span, div).centeredText {
  text-align: center;
}
